<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title></title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/grid.css">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
<section class="full center"></section>
<section class="full center"></section>
<section class="full center"></section>
<section class="full center"></section>
<section class="full center"></section>
<section class="full center"></section>
<section class="full center"></section>
<section class="full center"></section>
<section class="full center"></section>
<script type="text/javascript" src="javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="javascripts/home.js"></script>
</body>
</html>